
<div *ngIf="loading" class="row animate__animated animate__fadeIn animate__fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <div class="spinner-border spinner-border-lg text-info me-1 x2" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p class="mb-0">Dame un respiro</p>

    </div>
  </div>
</div>

<div *ngIf="!loading" class="animate__animated animate__fadeIn animate__fast">
    <div class="card" *ngIf="totalConsoles > 0">
      <div class="card-header">
        <h5 class="mb-0">Resumen colección Consolas
          <!-- <span class="badge bg-success rounded-pill ms-auto ms-lg-2">{{
            collection.year }}</span> de la editorial
            <span class="badge bg-warning ms-auto ms-lg-2">{{
            collection.editorial }}</span>
            <span *ngIf="collection.fullCollection"> que consta de {{
            collection.fullCollection }} {{ collection.tipology }}</span>  -->
          </h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-sm-3 col-xl-3">

            <!-- Missing cards -->
            <div class="card card-body text-center">
              <h6 class="mb-0">Consolas en la colección {{this.numConsolesStock}}</h6>
              <div class="fs-sm text-muted mb-3">Valor estimado {{ this.totalCostSold }}</div>
              <app-missing-chart *ngIf="totalConsoles > 0" [dataArrayInput]="data"></app-missing-chart>
              <!-- <i class="ph-check-circle ph-5x text-success mt-1 mb-3"></i> -->
            </div>
            <!-- /Missing cards -->

          </div>

          <div class="col-sm-9 col-xl-9">
            <div class="card border-success">
              <div class="card-header bg-success bg-opacity-10 border-success d-flex justify-content-between">
                <span class="fw-semibold">Total consolas {{ this.totalConsoles }}</span>
                <!-- <span class="text-success fw-semibold">{{ this.totalConsoles }}</span> -->
              </div>
              <div class="card-body">
                <div class="row">
                <div class="col-sm-6">
                  <mat-list>
                    <div mat-subheader><h3>Colección vigente</h3></div>
                    <mat-list-item>
                      <span matListItemTitle>{{ numConsolesStock }}</span>
                      <span matListItemLine>Total consolas</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>{{ totalEstimatedStock }}€</span>
                      <span matListItemLine>Valor estimado</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>{{ totalCostConsoles }}€</span>
                      <span matListItemLine>Coste compra</span>
                    </mat-list-item>
                  </mat-list>
                </div>
                <div class="col-sm-6">
                  <mat-list>
                    <div mat-subheader><h3>Ventas</h3></div>
                    <mat-list-item>
                      <span matListItemTitle>{{ numConsolesSold }}</span>
                      <span matListItemLine>Total consolas vendidas</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>{{ totalPriceSold }}€</span>
                      <span matListItemLine>Precio compra</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>{{ totalCostSold }}€</span>
                      <span matListItemLine>Precio venta</span>
                    </mat-list-item>
                  </mat-list>
                </div>

              <div class="card-footer d-flex justify-content-between border-top-0 pt-0 pb-3">
                <span class="text-muted">Balance consolas vendidas + estimado colección {{ totalEstimatedStock - totalCostConsoles + totalCostSold - totalPriceSold }}€</span>
                <span class="hstack gap-1">
                  <span class="text-muted ms-1">{{ totalEstimatedStock - totalCostConsoles + totalCostSold - totalPriceSold }}€</span>
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header d-sm-flex align-items-sm-center py-sm-0">
      <h6 class="py-sm-3 mb-sm-auto">Listado consolas ({{ this.consoles.length }})</h6>
      <div class="ms-sm-auto" *ngIf="txtTerm.value.length === 0">
        <ul class="pagination pagination-flat">
          <li class="page-item">
            <a (click)="managePagination(-10)"
              class="page-link rounded pointer"
              [ngClass]="paginacion === 0 ? 'disabled' : ''">←</a>
          </li>
          <li class="page-item"
          [ngClass]="paginacion === i*10 ? 'active' : ''" *ngFor="let in of counter(paginas); let i = index">
            <a (click)="pages(i*10)" class="page-link rounded pointer">{{i+1}}</a>
          </li>
          <li class="page-item">
            <a (click)="managePagination(10)"
            class="page-link rounded pointer"
            [ngClass]="paginacion / 10 + 1 === paginas ? 'disabled' : ''">→</a>
          </li>
        </ul>
      </div>
      <div class="ms-sm-auto my-sm-auto">
        <div class="form-control-feedback form-control-feedback-end">
          <button routerLink="./new" type="button" class="btn btn-primary pointer">
            <i class="ph-plus me-2"></i>
            Nueva
        </button> &nbsp;&nbsp;&nbsp;
          <button (click)="hideSold()" type="button" class="btn btn-indigo pointer">
            <i *ngIf="soldHided" class="ph-eye me-2"></i>
            <i *ngIf="!soldHided" class="ph-eye-slash me-2"></i>
            Vendidos
        </button>
        </div>
      </div>
      <div class="ms-sm-auto my-sm-auto">
        <div class="form-control-feedback form-control-feedback-end">
          <input type="search" class="form-control wmin-200" (search)="borrarInput()" (keyup)="search( txtTerm.value )"
            placeholder="Búscar colección..." #txtTerm>
          <div class="form-control-feedback-icon">
            <i class="ph-magnifying-glass text-muted"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="txtTerm.value.length !== 0">
      Búsqueda <span class="badge bg-dark"> {{ txtTerm.value }} </span> devuelve {{ totalSearch }} resultado{{
      totalSearch !== 1 ? 's' : '' }}.
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-lg">
        <tbody>
          <tr class="table-light">
            <th class="w100 text-center">Imagen</th>
            <th>Consola</th>
            <th class="w50 text-center">Gen.</th>
            <th class="w50 text-center">Año</th>
            <th class="w50 text-center">Color</th>
            <th class="w50 text-center">Fecha compra</th>
            <th class="w50 text-center">Precio compra</th>
            <th class="w50 text-center">Valor estimado</th>
            <th>Notas</th>
            <!-- <th class="w100 text-center">Extras</th>
            <th class="w100 text-center">Faltan</th>
            <th class="w100 text-center">Repetidos</th> -->
            <!-- <th class="text-center">Notas</th> -->
            <th class="w100 text-nowrap text-center">Acciones</th>
          </tr>
          <tr *ngFor="let console of consoles; index as i" [ngClass]="{'sold': console.sold}">
            <td class="text-center"><a (click)="modalConsole(console)" data-bs-toggle="modal" data-bs-target="#modal_default" class="pointer">
                <img [src]="console.img1! | image:'consoles':1" [alt]="console.name" class="w-56px h-56px rounded" alt="Imagen Consola">
              </a></td>
            <td>
              <div class="flex-fill">
                <div class="fw-semibold">{{ console.name }}</div>
                <span class="text-muted">{{ console.model }} </span>
                <span class="badge bg-secondary rounded-pill">{{ console.brand }}</span>
              </div>
            </td>
            <td class="text-center">
              <span class="badge bg-purple">{{ console.generation }}</span>
            </td>
            <td class="text-center">{{ console.year }}</td>
            <td class="text-center">
              <button *ngIf="console.color"  class="material-button" [ngStyle]="{'background-color': console.color}">&nbsp;&nbsp;&nbsp;</button>
            </td>
            <td class="text-center">{{ console.purchaseDate | date: 'dd-MM-yy' }}</td>
            <td class="text-center">{{ console.purchasePrice }}</td>
            <td class="text-center">{{ console.estimatedValue }}</td>
            <!-- <td><button data-bs-toggle="modal" data-bs-target="#modal_console" (click)="modalConsole(game.console!)" type="button" class="btn btn-outline-primary border-transparent">{{ getConsole(game.console!) }}</button></td> -->
            <!-- <td>{{ getConsole(acc.console) }}</td> -->
            <td>{{ console.notes }}</td>
            <!-- <td>{{ colec.extras }}</td>
            <td>{{ colec.missing }}</td>
            <td>{{ colec.repeated }}</td> -->
            <!-- <td>{{ colec.notes }}</td> -->
            <td class="wmin-lg-50 text-center">
              <div class="d-inline-flex pointer">
                <a routerLink="./view/{{console._id}}" class="text-success mx-2 pointer" #tooltip="matTooltip" matTooltip="Ver colección" matTooltipPosition="above">
                  <i class="ph-eye"></i>
                </a>
              </div>
              <div class="d-inline-flex">
                <a routerLink="./edit/{{console._id}}" class="text-primary mx-2 pointer" #tooltip="matTooltip" matTooltip="Modificar" matTooltipPosition="above">
                  <i class="ph-pen"></i>
                </a>
              </div>
              <div class="d-inline-flex">
                <a (click)="deleteConsole(console)" class="text-danger mx-2 pointer" #tooltip="matTooltip" matTooltip="Borrar" matTooltipPosition="above">
                  <i class="ph-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div *ngIf="txtTerm.value.length === 0">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item pointer"><a class="page-link" (click)="managePagination(-10)">Anterior</a></li>
        <li class="page-item pointer"><a class="page-link" (click)="managePagination(10)">Siguiente</a></li>
      </ul>
    </nav>
  </div> -->
</div>

<!-- <app-modal-image [uid]="selectedUid" [img]="selectedImg" type="usuarios"></app-modal-image> -->
<app-modal-image [uid]="selectedUid" [img]="selectedImg" type="consoles" numImg="1"></app-modal-image>
<app-modal-console [consSel]="consModal"></app-modal-console>




