<!-- Main navbar -->
<div class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a routerLink="/" class="d-inline-flex align-items-center">
        <img src="../../../assets/images/logo_icon3.svg" style="margin: 0 auto; transform: scale(5);" class="d-none d-sm-inline-block ms-3 mx-4" alt="">
        <img src="../../../assets/images/logo_text_light3.png" class="d-none d-sm-inline-block ms-3" width="170" alt="">
      </a>
    </div>

    <div class="d-lg-none ms-2">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-mobile" aria-expanded="false">
        <i class="ph-squares-four"></i>
      </button>
    </div>

    <!-- <div class="navbar-collapse order-2 order-lg-1 collapse" id="navbar-mobile">
      <ul class="navbar-nav gap-lg-2 mt-2 mt-lg-0">
        <li class="nav-item">
          <a href="#" class="navbar-nav-link rounded">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="navbar-nav-link rounded dropdown-toggle" data-bs-toggle="dropdown">Dropdown</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Action</a>
            <a href="#" class="dropdown-item">Another action</a>
            <a href="#" class="dropdown-item">Something else here</a>
            <a href="#" class="dropdown-item">One more line</a>
          </div>
        </li>
      </ul>
    </div> -->

    <ul class="nav gap-sm-2 order-1 order-lg-2 ms-auto">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded">
          <i class="ph-bell"></i>
          <span class="badge bg-yellow text-black position-absolute top-0 end-0 translate-middle-top zindex-1 rounded-pill mt-1 me-1">2</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded">
          <i class="ph-chats"></i>
        </a>
      </li>
      <li class="nav-item nav-item-dropdown-lg dropdown">
        <a href="#" class="navbar-nav-link align-items-center rounded p-1" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="status-indicator-container">
            <img [src]="user.imageUrl" class="w-32px h-32px rounded" alt="">
            <span class="status-indicator bg-success"></span>
          </div>
          <span class="d-none d-lg-inline-block mx-lg-2">{{ user.nombre }}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-end animate__animated animate__fadeIn animate__fast">
          <div class="d-flex align-items-center border-bottom p-3">
            <!-- <h6 class="mb-0">email </h6> -->
            <div class="flex-column">
              <span>conectado como: </span>
              <h6 class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-secondary">{{ user.email }}</h6>
            </div>
            <!-- <span>{{ (user.email.length > 20) ? '...' : '' }}</span> -->
          </div>
          <a routerLink="/dashboard/profile" class="dropdown-item pointer">
            <i class="ph-user-circle me-2"></i>
            Perfil
          </a>
          <!-- <a href="#" class="dropdown-item">
            <i class="ph-currency-circle-dollar me-2"></i>
            My subscription
          </a>
          <a href="#" class="dropdown-item">
            <i class="ph-shopping-cart me-2"></i>
            My orders
          </a>
          <a href="#" class="dropdown-item">
            <i class="ph-envelope-open me-2"></i>
            My inbox
            <span class="badge bg-primary rounded-pill ms-auto">26</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="ph-gear me-2"></i>
            Account settings
          </a> -->
          <a (click)="logout()" class="dropdown-item pointer">
            <i class="ph-sign-out me-2"></i>
            Salir
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->
