<!-- Main charts -->
<div class="row">
  <div class="col-xl-7">

    <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Card title</h6>
        </div>

        <div class="card-body">
          Basic card example without header elements
        </div>
      </div>

  </div>

  <div class="col-xl-5">

    <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Card title</h6>
        </div>

        <div class="card-body">
          Basic card example without header elements
        </div>
      </div>

  </div>
</div>
<!-- /main charts -->
