.pointer {
  cursor: pointer !important;
}
.material-button {
  cursor: default;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 6px;
  border: 0px solid #fff;
  border-width: 0px 0px 0px 0px;
  padding: 10px 20px 5px 20px;
  font-size: 2px;
  font-family: Helvetica Neue;
  font-weight: 300;
  font-style: normal
}

.chip-color {
  background-color: green;
}
