<div *ngIf="loading" class="row animate__animated animate__fadeIn animate__fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <div class="spinner-border spinner-border-lg text-info me-1 x2" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p class="mb-0">Dame un respiro</p>
    </div>
  </div>
</div>

<div *ngIf="!loading">
  <div class="profile-cover">
    <div class="profile-cover-img" [ngStyle]="{ 'background-image': 'url(' + imagen1 + ')' }"></div>
    <div
      class="d-flex align-items-center text-center text-lg-start flex-column flex-lg-row position-absolute start-0 end-0 bottom-0 mx-3 mb-3">
      <div class="profile-cover-text text-white">
        <h1 class="mb-0">{{ console.name }}</h1>
        <span class="d-none d-lg-inline-block ms-2">
          <span class="badge bg-warning ms-auto ms-lg-2">{{ console.model }}</span>
          <span class="badge bg-success rounded-pill ms-auto ms-lg-2">{{
            console.brand
            }}</span>
          <span class="badge bg-secondary ms-auto ms-lg-2">{{
            console.year
            }}</span>
        </span>
      </div>

      <div class="ms-lg-auto mt-2 mt-lg-0">
        <div class="d-inline-flex">
          <a routerLink="../../edit/{{ console._id }}" class="btn btn-info border-transparent shadow ms-3 pointer">
            <i class="ph-pen me-2"></i>
            Modificar
          </a>
          <a (click)="deleteConsole(console)" class="btn btn-danger border-transparent shadow ms-3 pointer">
            <i class="ph-trash me-2"></i>
            Borrar
          </a>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            Lanzado el año
            <span class="badge bg-success rounded-pill ms-auto ms-lg-2">{{
              console.year
              }}</span>
            por
            <span class="badge bg-warning ms-auto ms-lg-2">{{
              console.brand
              }}</span>
            <span *ngIf="console.year"> de la generación {{ console.generation }}</span>
          </h5>
        </div>

        <div class="card-body">
          <div class="row">
            <div><h4>Datos consola</h4></div>
            <div class="col-sm-4">
              <mat-list>
                <mat-list-item>
                  <div matListItemTitle>Nombre</div>
                  <div matListItemLine>{{ console.name }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Generación</div>
                  <div matListItemLine>{{ console.generation }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Precio lanz.</div>
                  <div matListItemLine>{{ console.releasePrice }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Descripción</div>
                  <div matListItemLine>{{ console.description }}</div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-sm-4">
              <mat-list>
                <mat-list-item>
                  <div matListItemTitle>Modelo</div>
                  <div matListItemLine>{{ console.model }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Valor estimado</div>
                  <div matListItemLine>{{ console.estimatedValue }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Soporte</div>
                  <div matListItemLine>{{ console.support }}</div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-sm-4">
              <mat-list>
                <mat-list-item>
                  <div matListItemTitle>Marca</div>
                  <div matListItemLine>{{ console.brand }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Año</div>
                  <div matListItemLine>{{ console.year }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Compatibilidad</div>
                  <div matListItemLine>{{ console.compatibility }}</div>
                </mat-list-item>
              </mat-list>
            </div>
            </div>
            <mat-divider></mat-divider>
            <br />
            <div class="row">
              <div><h4>Datos particulares</h4></div>
              <div class="col-sm-4">
                <mat-list>
                  <mat-list-item>
                    <div matListItemTitle>Número serie</div>
                  <div matListItemLine>{{ console.serialNumber }}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <div matListItemTitle>Coste</div>
                  <div matListItemLine>{{ console.purchasePrice }}</div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="col-sm-4">
                <mat-list>
                  <mat-list-item>
                    <div matListItemTitle>Notas</div>
                    <div matListItemLine #tooltip="matTooltip"
                    matTooltip="{{ console.notes }}"
                    matTooltipHideDelay="5000"><span *ngIf="console.notes">{{ console.notes.slice(0, 30) }}...</span></div>
                  </mat-list-item>
                  <mat-list-item>
                    <div matListItemTitle>Fecha compra</div>
                    <div matListItemLine>{{ console.purchaseDate }}</div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="col-sm-4">
                <mat-list>
                  <mat-list-item>
                    <div matListItemTitle></div>
                    <div matListItemLine></div>
                  </mat-list-item>
                  <mat-list-item>
                    <div matListItemTitle>Lugar compra</div>
                    <div matListItemLine>{{ console.purchasePlace }}</div>
                  </mat-list-item>
                </mat-list>
              </div>
              </div>

          <h4>Accesorios de la consola</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-lg" *ngIf="accesorios.length > 0">
              <tbody>
                <tr class="table-light">
                  <th class="w100 text-center">Imagen</th>
                  <th>Consola</th>
                  <th class="w50 text-center">Tipo</th>
                  <th class="w50 text-center">Año</th>
                  <th class="w50 text-center">Color</th>
                  <th class="w50 text-center">Fecha compra</th>
                  <th class="w50 text-center">Precio compra</th>
                  <th class="w50 text-center">Valor estimado</th>
                  <th class="w100 text-nowrap text-center">Acciones</th>
                </tr>
                <tr *ngFor="let acc of accesorios; index as i">
                  <td class="text-center">
                      <img [src]="acc.img1! | image:'accesorios':1" [alt]="acc.name" class="w-56px h-56px rounded" alt="Imagen accesorio">
                  </td>
                  <td>
                    <div class="flex-fill">
                      <div class="fw-semibold">{{ acc.name }}</div>
                      <span class="text-muted">{{ acc.model }} </span>
                      <span class="badge bg-secondary rounded-pill">{{ acc.brand }}</span>
                    </div>
                  </td>
                  <td class="text-center">
                    <span class="badge bg-purple">{{ acc.tipology }}</span>
                  </td>
                  <td class="text-center">{{ acc.year }}</td>
                  <td class="text-center">
                    <button *ngIf="acc.color"  class="material-button" [ngStyle]="{'background-color': acc.color}">&nbsp;&nbsp;&nbsp;</button>
                  </td>
                  <td class="text-center">{{ acc.purchaseDate | date: 'dd-MM-yy' }}</td>
                  <td class="text-center">{{ acc.purchasePrice }}</td>
                  <td class="text-center">{{ acc.estimatedValue }}</td>
                  <td class="wmin-lg-50 text-center">
                    <div class="d-inline-flex pointer">
                      <a routerLink="./view/{{acc._id}}" class="text-success mx-2 pointer" #tooltip="matTooltip" matTooltip="Ver colección" matTooltipPosition="above">
                        <i class="ph-eye"></i>
                      </a>
                    </div>
                    <div class="d-inline-flex">
                      <a routerLink="./edit/{{acc._id}}" class="text-primary mx-2 pointer" #tooltip="matTooltip" matTooltip="Modificar" matTooltipPosition="above">
                        <i class="ph-pen"></i>
                      </a>
                    </div>
                    <div class="d-inline-flex">
                      <a (click)="deleteAccesorio(acc)" class="text-danger mx-2 pointer" #tooltip="matTooltip" matTooltip="Borrar" matTooltipPosition="above">
                        <i class="ph-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="accesorios.length === 0">La consola no tiene accesorios asociados todavía.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-img-actions m-1">
          <img class="card-img img-fluid" [src]="console.img1! | image : 'consoles' : 1" alt="" />
          <div class="card-img-actions-overlay card-img">
            <a (click)="verImagen(1)" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox"
              data-gallery="gallery1">
              <i class="ph-eye"></i>
            </a>
          </div>
        </div>

        <div class="card-img-actions m-1">
          <img class="card-img img-fluid" [src]="console.img2! | image : 'consoles' : 2" alt="" />
          <div class="card-img-actions-overlay card-img">
            <a (click)="verImagen(2)" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox"
              data-gallery="gallery1">
              <i class="ph-eye"></i>
            </a>
          </div>
        </div>

        <div class="card-img-actions m-1">
          <img class="card-img img-fluid" [src]="console.img3! | image : 'consoles' : 3" alt="" />
          <div class="card-img-actions-overlay card-img">
            <a (click)="verImagen(3)" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox"
              data-gallery="gallery1">
              <i class="ph-eye"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
