<!-- Navigation -->
<div class="navbar shadow">
  <div class="container-fluid">
    <div class="flex-fill overflow-auto overflow-lg-visible scrollbar-hidden">
      <ul class="nav gap-1 flex-nowrap flex-lg-wrap">
        <li class="nav-item">
          <a routerLink="/dashboard/home" routerLinkActive="active" class="navbar-nav-link rounded pointer">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/profile" routerLinkActive="active" class="navbar-nav-link rounded pointer">
            Perfil
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" routerLinkActive="active"
            data-bs-toggle="dropdown">
            Mantenimiento
          </a>
          <div class="dropdown-menu start-auto animate__animated animate__fadeIn animate__fast">
            <div class="dropdown-header">
              <h6 class="lh-base mb-0">Mantenimiento</h6>
            </div>
            <a routerLink="/dashboard/users" routerLinkActive="active" class="dropdown-item">Lista usuarios</a>
            <a href="#" class="dropdown-item">Another action</a>
            <div class="dropdown-header">
              <h6 class="lh-base mb-0">Header Second</h6>
            </div>
            <a href="#" class="dropdown-item">Something else here</a>
            <a href="#" class="dropdown-item">One more line</a>
          </div>

          <!-- <div class="dropdown-menu start-0 end-35 p-3 mx-md-3">
            <div class="row">
              <div class="col-md-4 mb-3 mb-md-0">
                <div class="fw-bold border-bottom pb-2 mb-2">Mantenimiento</div>
                <div class="mb-3 mb-md-0">
                  <a href="layout_navbar_fixed.html" class="dropdown-item rounded">Lista usuarios</a>
                  <a href="layout_navbar_hideable.html" class="dropdown-item rounded">Hideable navbar</a>
                  <a href="layout_navbar_sticky.html" class="dropdown-item rounded">Sticky navbar</a>
                  <a href="layout_fixed_footer.html" class="dropdown-item rounded">Fixed footer</a>
                </div>
              </div>


            </div>
          </div> -->
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" routerLinkActive="active"
            data-bs-toggle="dropdown">
            Consolas
          </a>
          <div class="dropdown-menu start-auto animate__animated animate__fadeIn animate__fast">
            <div class="dropdown-header">
              <h6 class="lh-base mb-0">Consolas</h6>
            </div>
            <a routerLink="/dashboard/consoles" routerLinkActive="active" class="dropdown-item">Listado consolas</a>
            <div class="dropdown-header">
              <h6 class="lh-base mb-0">Juegos</h6>
            </div>
            <a routerLink="/dashboard/games" routerLinkActive="active" class="dropdown-item">Listado juegos</a>
            <div class="dropdown-header">
              <h6 class="lh-base mb-0">Accesorios</h6>
            </div>
            <a routerLink="/dashboard/accesorios" routerLinkActive="active" class="dropdown-item">Listado accesorios</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="navbar-nav-link dropdown-toggle rounded pointer" routerLinkActive="active"
            data-bs-toggle="dropdown">
            Colecciones
          </a>
          <div class="dropdown-menu start-auto animate__animated animate__fadeIn animate__fast">
            <div class="dropdown-header">
              <h6 class="lh-base mb-0">Colecciones</h6>
            </div>
            <a routerLink="/dashboard/collections" class="dropdown-item">Listado colecciones</a>
            <a routerLink="/dashboard/collections/new" class="dropdown-item">Nueva colecciones</a>
          </div>
        </li>


        <!-- <li class="nav-item">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded active" data-bs-toggle="dropdown">
            Navigation
          </a>

          <div class="dropdown-menu start-0 end-0 p-3 mx-md-3">
            <div class="row">
              <div class="col-md-4 mb-3 mb-md-0">
                <div class="fw-bold border-bottom pb-2 mb-2">Navbars</div>
                <div class="mb-3 mb-md-0">
                  <a href="layout_navbar_fixed.html" class="dropdown-item rounded">Fixed navbar</a>
                  <a href="layout_navbar_hideable.html" class="dropdown-item rounded">Hideable navbar</a>
                  <a href="layout_navbar_sticky.html" class="dropdown-item rounded">Sticky navbar</a>
                  <a href="layout_fixed_footer.html" class="dropdown-item rounded">Fixed footer</a>
                </div>
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                <div class="fw-bold border-bottom pb-2 mb-2">Sidebars</div>
                <div class="mb-3 mb-md-0">
                  <a href="layout_2_sidebars_1_side.html" class="dropdown-item rounded">2 sidebars on 1 side</a>
                  <a href="layout_2_sidebars_2_sides.html" class="dropdown-item rounded">2 sidebars on 2 sides</a>
                  <a href="layout_3_sidebars.html" class="dropdown-item rounded">3 sidebars</a>
                </div>
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                <div class="fw-bold border-bottom pb-2 mb-2">Sections</div>
                <div class="mb-3 mb-md-0">
                  <a href="layout_no_header.html" class="dropdown-item rounded active">No header</a>
                  <a href="layout_no_footer.html" class="dropdown-item rounded">No footer</a>
                  <a href="layout_boxed_page.html" class="dropdown-item rounded">Boxed page</a>
                  <a href="layout_boxed_content.html" class="dropdown-item rounded">Boxed content</a>
                </div>
              </div>
            </div>
          </div>
        </li> -->

        <!-- <li class="nav-item nav-item-dropdown-lg dropdown">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" data-bs-toggle="dropdown">
            Dropdown
          </a>

          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">
              Action
            </a>
            <a href="#" class="dropdown-item">
              Another action
            </a>
            <a href="#" class="dropdown-item">
              One more action
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              Separate action
            </a>
          </div>
        </li> -->

        <li class="nav-item ms-lg-auto">
          <a (click)="logout()" class="navbar-nav-link rounded pointer">
            Salir
          </a>
        </li>

        <!-- <li class="nav-item nav-item-dropdown-lg dropdown">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" data-bs-toggle="dropdown">
            Dropdown
          </a>

          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">
              Action
            </a>
            <a href="#" class="dropdown-item">
              Another action
            </a>
            <a href="#" class="dropdown-item">
              One more action
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              Separate action
            </a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<!-- /navigation -->
